  <% if @user_role_in_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_role_in_event.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @user_role_in_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
